$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.jcl-validator.name")
<ul>
    <li style="word-wrap:break-word;">
        <td><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.jcl-validator.jql"):</strong></td>
        $!jqlstr
    </li>
    <li style="word-wrap:break-word;">
        <strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.jcl-validator.issuecount"):</strong>
        $!issuecount
    </li>
    <li style="word-wrap:break-word;">
        <strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.jcl-validator.errormsg"):</strong>
        $!errorview
    </li>
    <li style="word-wrap:break-word;">
        <strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.jcl-validator.excludeitself"):</strong>
        $!excludeitself
    </li>
</ul>
