$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.name")
<ul>
    <li style="word-wrap:break-word;">
        <td><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.jql"):</strong></td>
        $!jqlstr
    </li>
    <li style="word-wrap:break-word;">
        <td><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.field"):</strong></td>
        $!issueProps.get($!cfId)
    </li>
    <li style="word-wrap:break-word;">
        <td><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.count"):</strong></td>
        $issuecount
    </li>
    <li style="word-wrap:break-word;">
        <strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.customerror"):</strong>
        $!error
    </li>
</ul>
